*{
    margin: 0;
    padding: 0;
    font-family: monospace;
    box-sizing: border-box;
}

body{
    background-color: #ebebeb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.container{
    background-color: white;
    width: 200px;
    height: 200px; 
    border-radius: 10px;
    padding: 13px;
    box-shadow: #00000029 0px 7px 30px 0px;
}

#month{
    display: flex;
    color: white;
    background-color: blue;
    justify-content: center;
    padding: 8px;
    font-size: 25px;
    border-radius:10px 10px 0 0;
}

#day{
    display: flex;
    color: black;
    justify-content: center;
    padding: 5px;
    font-size: 20px;
    font-style: italic;
}

#date{
    display: flex;
    color: black;
    justify-content: center;
    padding: 5px;
    font-size: 45px;
    font-weight: bold;
}

#year{
    display: flex;
    color: blue;
    justify-content: center;
    padding: 5px;
    font-size: 25px;
    font-weight: bold;
}